<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    split="assist"
    android:isFeatureSplit="true">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <dist:module
        dist:instant="false"
        dist:title="@string/addon_name_poi">
        <dist:delivery>
            <dist:on-demand />
            <dist:install-time>
                <dist:conditions>
                    <dist:device-feature dist:name="android.software.leanback" />
                </dist:conditions>
            </dist:install-time>
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>
</manifest>

